.slide-fade-enter-active {
  transition: all .6s ease;
}

.slide-fade-leave-active {
  transition: all .6s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(100px);
  opacity: 0;
}

.fade-enter-active {
  transition: all .4s ease;
}

.fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-enter,
.fade-leave-to

/* .slide-fade-leave-active below version 2.1.8 */
  {

  opacity: 0;
}

.fade-text-enter-active {
  transition: all .3s ease 0.4s;
}

.fade-text-enter,
.fade-text-leave-to

/* .slide-fade-leave-active below version 2.1.8 */
  {

  opacity: 0;
}

.open-form-enter-active {
  transition: all .4s ease;
  max-width: 900px;
  max-height: 900px;
  overflow: auto;
 
}

.open-form-leave-active {
  transition: all .4s;
  max-width: 0px;
  overflow-x: hidden;
}

.open-form-enter,
.open-form-leave-to {
  max-width: 0px;
  max-height: 0px;
  opacity: 0;
  overflow-x:  hidden;

}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}