@import 'variables';
@import 'animations.scss';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFam;
  position: relative;

}


a {
  text-decoration: none;
}

p {
  font-size: $font * 0.2;
  font-family: $secondFam;
  line-height: $font * 0.4;
}

#title {
  font-size: $font;
  line-height: $font * 1.1;
  font-weight: bold;
}

h2 {
  font-size: $font * 0.56;
  letter-spacing: 1px;
  line-height: $font * 0.76;
}

h3 {
  font-size: $font * 0.24;
  line-height: $font * 0.32;
}

.border-red {
  display: block;
  width: 100px;
  height: 5px;
  background: #b21b42;
}

.error {
  display: block;
  height: 15px;
  font-size: 15px;
  color: $dark_pink;
}

.unactiv {
  background: $unactiv !important;
}

input,
textarea {
  border: 2px solid $main-color;
  outline: none;
  padding: 13px;
  font-size: 18px;
  width: 100%;


  &::placeholder {
    color: $main-color;
    font-size: 18px;
  }
}

.select {
  width: 100%;
  position: relative;
  display: flex;

  .selected {
    text-align: left;
    width: 100%;
    border: 2px solid $main-color;
    outline: none;
    padding: 4px 13px;
    font-size: 18px;
    letter-spacing: 0px !important;
    width: 100%;
    color: $main-color;
    height: unset;
    margin: 0;
  }

  .options {
    @extend .flex-center;
    top: 50px;
    position: absolute;
    width: 99%;
    border: 2px solid $main-color;
    background: $white;
    z-index: 99;

    .option {
      color: #000;
      border: none;
      text-align: left;
      padding: 4px 13px;
      outline: none;
      padding: 4px 13px;
      font-size: 18px;
      letter-spacing: 0px !important;
      width: 98%;

      margin: 0;

      &:hover {
        background: $main-color;
        color: $white;
      }
    }
  }

  .fa-chevron-down {
    color: $main-color;
    position: absolute;
    right: 15px;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
}

label {
  font-size: 18px;
  font-weight: bold;
}

.checkbox {
  display: block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid $main-color;

  cursor: pointer;
  margin-right: 15px;

  .fa-check {
    font-size: 27px;
    margin-left: 5px;
    color: #000;
    cursor: pointer;
    line-height: 20px;
  }
}

.loader {
  font-size: 10px;
  text-indent: -9999em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: $main-color;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


@media only screen and (max-width: 1285px) {
  h2 {
    font-size: $font * 0.50;
    line-height: $font * 0.70;
  }

  #title {
    font-size: $font * 0.9;
    line-height: $font;
  }

}

@media only screen and (max-width: 1000px) {

  input,
  textarea {
    padding: 15px;
    font-size: 16px;

    &::placeholder {
      font-size: 16px;
    }
  }

}

@media only screen and (max-width: 720px) {
  h2 {
    font-size: $font * 0.4;
    line-height: $font * 0.6;
  }

}

@media only screen and (max-width: 560px) {
  #title {
    font-size: $font * 0.8;
    line-height: $font;
  }

}

@media only screen and (max-width: 480px) {
  #title {
    font-size: $font * 0.6;
    line-height: $font * 0.75;
  }

  h2 {
    line-height: $font * 0.5;
  }

  p {
    font-size: $font * 0.16;
    line-height: $font * 0.3;
  }

}

@media only screen and (max-width: 360px) {
  #title {
    font-size: $font * 0.5;
    line-height: $font * 0.65;
  }

  p {
    font-size: $font * 0.16;
    line-height: $font * 0.3;
  }

  input,
  textarea {
    padding: 10px;

  }

}

@media only screen and (max-width: 320px) {
  #title {
    font-size: $font * 0.5;
    line-height: $font * 0.6;
    margin-bottom: 0 !important;
  }



}


@import 'components/header';
@import 'components/svg';
@import 'components/our-services';
@import 'components/footer';
@import 'components/contact-form';
@import 'components/shadow';
@import 'components/scrolle';
@import 'components/why';
@import 'components/how-mob';
@import 'components/video';
@import 'components/strategies';
@import 'components/service-quote';
@import 'components/mob-services';
@import 'page-templates/services';
@import 'page-templates/service-slider';
@import 'page-templates/contact-us';
@import 'components/contact-us-form';
@import 'components/get-qout';
