.contact-us-form {
  box-sizing: border-box;
  padding: 35px;

  .form-wrap {
    @extend .container;
    max-width: 1200px;
    border: 15px solid $dark_pink;
    box-sizing: border-box;
    padding: 30px;
    background: url('~assets/img/bela-osmica.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    h3 {
      font-size: 55px;
      width: 100%;
      margin: 40px auto 70px;
      max-width: 530px;
      line-height: 70px;
      text-align: center;
    }

    form {
      @extend .grid;
      grid-column-gap: 35px;
      grid-row-gap: 60px;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
    }

    .input-wrap-50 {
      grid-column: span 6;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
    }

    .input-wrap-100 {
      grid-column: span 12;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .red-btn {
      width: 100%;
      max-width: 700px;
      margin: 50px auto;
      padding: 15px 30px;
      box-sizing: border-box;

      p {
        letter-spacing: 4px;
        font-size: 24px
      }
    }

    @media only screen and (max-width: 1000px) {
      .red-btn {
        padding: 10px 30px;

        p {

          font-size: 20px
        }
      }
    }

    @media only screen and (max-width: 580px) {
      border: 10px solid $dark_pink;

      h3 {
        font-size: 45px;
        margin: 35px auto 40px;
        line-height: 50px;
      }

      form {
        grid-column-gap: 0;
        grid-row-gap: 50px;
      }

      .input-wrap-50 {
        grid-column: span 12;

      }
    }

    @media only screen and (max-width: 480px) {
      border: 8px solid $dark_pink;

      h3 {
        font-size: 36px;
        margin: 30px auto;
        line-height: 50px;
      }

      form {
        grid-column-gap: 0;
        grid-row-gap: 30px;
      }

      .red-btn {
        margin: 30px auto;

        p {

          font-size: 18px;
        }
      }
    }

    @media only screen and (max-width: 365px) {
         padding: 0 20px!important;

      h3 {
        font-size: 28px;
        margin: 30px auto;
        line-height: 40px;
      }

      form {
        grid-column-gap: 0;
        grid-row-gap: 30px;
      }

      .red-btn {
        margin: 30px auto;

        p {

          font-size: 18px;
        }
      }
    }
  }

}
