.get-qout {
  position: relative;

  input,
  textarea {
    padding: 13px;
  }

  .contact-us-form {
    @extend .flex-center;
    align-items: center;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100vw;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background: $ovewrlay;


    .form-wrap {
      margin: 0px auto;
      overflow: hidden;
      background: $white;
      height: 837px;
      width: 100%;
      max-width: 900px;
      position: relative;

      .close {
        color: $dark-pink;
        font-size: 25px;
        position: absolute;
        right: 5%;
      }

      .step-wrap {
        grid-column: span 12;
        @extend .grid;
        grid-column-gap: 35px;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        grid-row-gap: 30px;
      }

      h3 {
        margin: 0px auto 0;
        width: 100%;
        max-width: unset;
        font-size: 40px;
      }
    }
  }

  .border {
    display: block;
    margin: 15px 0 60px;
    height: 10px;
    background: $dark-pink;

    transition: 1s;

    &.width33 {
      width: 33%;
    }

    &.width66 {
      width: 66%;
    }

    &.width100 {
      width: 100%;
    }
  }

  .info-wrap {
    @extend .flex-center;
    align-items: center;
    width: 100%;

    p {
      width: 33%;
      color: $main_color;
      border: none;
      letter-spacing: 2px !important;
      cursor: text;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 0;
    }

    .done {
      font-size: 18px;
    }
  }

  .button-wrap {
    @extend .flex-between;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 50px auto 15px;

    .red-btn {
      max-width: 130px;
      margin: 0;
      color: $white;
      @extend .flex-center;

    }
  }
}
