.get-qout {
  position: relative;

  input,
  textarea {
    padding: 13px;
  }

  .contact-us-form {
    @extend .flex-center;
    align-items: center;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100vw;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background: $ovewrlay;


    .form-wrap {
      margin: 0px auto;
      overflow: hidden;
      background: $white;
      height: 837px;
      width: 100%;
      max-width: 900px;
      position: relative;

      .close {
        color: $dark-pink;
        font-size: 25px;
        position: absolute;
        right: 30px;
        top: 25px;
      }
      form{
        min-height: 430px;
      }
      .step-wrap {
        grid-column: span 12;
        @extend .grid;
        grid-column-gap: 35px;
        grid-row-gap: 30px;
        grid-auto-rows: 66px;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
      }

      h3 {
        margin: 0px auto 0;
        width: 100%;
        max-width: unset;
        font-size: 40px;
      }

      .input-wrap-50 {
        align-items: flex-start;

        &:nth-last-child(2){
          height: 66px;
        }
      }
      .row-span-2{
        grid-row: span 2;
      }
      .checkboxes{
        @extend .grid;
        grid-column: span 12;
        grid-column-gap: 35px;
        grid-row-gap: 10px;
        grid-template-rows: 1fr;

        .input-wrap-50 {
          align-items: center;
        }
      }
/*
      .step-3{
        .checkboxes{
          grid-template-rows: 30px 28px 1fr 1fr 1fr;
        }
      }
*/
      .link-count{
          position: absolute;
          top: 50px;
          right: 0;
          border: none;
          background: transparent;
          cursor: pointer;
          text-align: center;
          z-index: 2;

          span{
            @extend .flex-center;
            align-items: center;
            width: 105px;
            height: 20px;
            background: $main_color;
          }

          span, i{
            font-size: 10px;
            line-height: 1;
            color: $white;
            cursor: pointer;
          }

          &:hover{
            & + .link-list{
              display: block!important;
            }
          }
      }
      .link-list{
        position: absolute;
        top: 51px;
        background: $white;
        border: 2px solid $main_color;
        border-top: 0;
        width: 99%;
        z-index: 1;

        .error{
          padding: 5px 10px;
        }
      }
    }
  }

  .border {
    display: block;
    margin: 15px 0 60px;
    height: 10px;
    background: $dark-pink;

    transition: 1s;

    &.width33 {
      width: 33%;
    }

    &.width66 {
      width: 66%;
    }

    &.width100 {
      width: 100%;
    }
  }

  .info-wrap {
    @extend .flex-center;
    align-items: center;
    width: 100%;

    p {
      width: 33%;
      color: $main_color;
      border: none;
      letter-spacing: 2px !important;
      cursor: text;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 0;
    }

    .done {
      font-size: 18px;
    }
  }

  .button-wrap {
    @extend .flex-between;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin: 50px auto 15px;

    .red-btn {
      max-width: 130px;
      margin: 0;
      color: $white;
      @extend .flex-center;
      
      .loader {
        width: 16px;
        height: 16px;
      }

    }
  }
}
