  .black-white{
    @extend .grid;
    .black{

    }
    .white{
      
    }
  }
  .slider-section {
    @extend .container;
    padding: 30px 30px 0 30px;
    max-width: 1600px;

    .service-slider {
      @extend .flex-center;
      box-shadow: 5px 5px 20px #ccc;
      margin: 130px 0;
    }

    .width-50 {
      width: 50%;
      height: 600px;
      overflow: hidden;

      .text-area {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100px auto 100px;

        height: 100%;
      }


      .head {
        grid-row: 1;
        grid-column: 1/span 3;
        padding: 10px 15px;


        span {
          color: $black;
          font-size: $font;

        }
      }

      .body {
        @extend .flex-center;
        align-items: center;
        grid-row: 2;
        grid-column: 1/-1;

        h2 {
          font-size: 70px;
          letter-spacing: 1px;
          line-height: 60px;
          text-align: center;
          color: $main_color;
          max-width: 530px;

        }
      }

      .s-footer {
        grid-row: 3;
        grid-column: 11/ -1;

        .link-contact-wrap {
          @extend .flex-center;
          align-items: center;
          margin: 0;
          height: 60px;
          width: 80px;
          padding: 0;

          img {
            transition: 0.4s;
          }

          &:hover img {
            margin-left: 20px;

          }
        }
      }


      .image-wrap {
        width: 100%;
      }

      .slider-img {
        width: 100%;
        height: 100%;
      }
    }

    .text-wrap {
      @extend .flex-center;

      p {
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .slider-section {
      .service-slider {
        .head {
          h2 {
            font-size: 36px;
          }

          span {
            font-size: 80px;
          }
        }

        .body {
          p {
            font-size: 18px;
          }
        }

        .text-area {
          padding: 30px;
        }
      }

    }

  }

  @media only screen and (max-width: 1050px) {

    .slider-section {
      .service-slider {
        position: relative;
        height: 650px;

        .text-area {
          position: absolute;
          width: 80%;
          height: 80%;
          left: 0;
          background: $white;
          z-index: 9999;
          top: 50%;
          transform: translateY(-50%);
        }


        .width-50 {
          width: 0;
        }

        .image-wrap {
          width: 100%;
        }

        .slider-img {
          width: 100%;
          height: 100%;
        }
      }
    }

  }

  @media only screen and (max-width: 850px) {

    .slider-section {
      h2 {
        text-align: center;
      }

      #servicesBoxMob {
        padding: 0;

        h2 {
          font-size: 36px;
          color: $dark_pink;
        }
      }
    }

  }

  @media only screen and (max-width: 560px) {
    .slider-section {
      #servicesBoxMob {
        .service-text {
          p {
            font-size: 16px;
            line-height: 30px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 360px) {
    .slider-section {
      padding: 70px 30px;

      #servicesBoxMob {

        h2 {
          font-size: 30px;
          color: $dark_pink;
        }

        .link-wrap {
          div {
            .open {
              i {
                top: 5px;
                right: 10px;
                font-size: 28px;
              }

            }
          }
        }
      }
    }
  }
